.medo64type { border-radius: 0.5em 0.5em 0 0; color: black; padding: 0; }
.medo64type div { background: rgba(0, 0, 0, .2); padding: 0.25em 0.25em 0 0.5em; }
.medo64type div button { background: none; border: 0; border-radius: 0; box-shadow: none; color: black; float: right; font-size: 80%; margin: 0; padding: 0.25em 0.25em 0 0; }
.medo64type code { border-radius: 0; display: inline-block; padding: 0.5em 0.5em 0.25em 0.5em; }
.medo64type code span::before { content: attr(data-content); opacity: 0.5; }
